<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Flay</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/the-big-picture.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
      <a class="navbar-brand" href="#">Cooking with Style</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/all">All Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container-lg center-container">
    <br>
    <div class="card w-100" style="width: 18rem;">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Technology Stack</h1>
          <p>Flay is built on python flask. All recipe data is imported from Kaggle into Mongodb. The front end was made with Jinja and Twitter Bootstrap.</p>
          <img src="{{ url_for('static', filename='img/Techstack.jpg') }}" alt="My technology stack">
        </div>
      </div>  
      <!-- Example row of columns -->
      <h1>Orchestration</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="container">
            <h2>Docker</h2>
            <p>This project is configured to create a ubuntu image for the flask app with a shared /app folder for development and a mongodb image.</p>          
            <img width="320" src="{{ url_for('static', filename='img/docker.png') }}" alt="My technology stack">
          </div>
        </div>
        <div class="col-md-4">
          <h2>Vagrant</h2>
          <p>This project is also configured to create a vagrant image with the same config as docker, in case you'd rather use a VMWare provider.</p>
          <img width="320" src="{{ url_for('static', filename='img/vagrant.png') }}" alt="My technology stack">
       </div>
        <div class="col-md-4">
          <h2>Kubernetes</h2>
          <p>This project contains yaml files for a kubernetes deployment. Why use three orchestration tools platforms? To show off.</p>
          <img width="320" src="{{ url_for('static', filename='img/kubernetes.png') }}" alt="My technology stack">
        </div>

      </div>
      <hr>
    </div>
  </div> <!-- /container -->

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

</body>

</html>
 