<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Flay</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/the-big-picture.css') }}" rel="stylesheet">

  <!-- Utility functions -->
  <script src="{{ url_for('static', filename='js/func_util.js') }}"></script>

</head>

<body>
  <!-- Page Content -->
  <section>
    <div class="container-lg">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
        <div class="container">
          <a class="navbar-brand" href="#">Cooking with Style</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/all/0">All Recipes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>    
      <div class="row">
        <div class="col-lg-12">
          <h1 class="mt-5">Welcome to Flay</h1>
          <p>Flay helps you cook by putting 23,000 plus recipes at your fingertips. Flay provides a variety of curated recipes. Search by ingredients or recipe name.</p>
          <!-- Search form -->
          <form method="POST" action="/results">
          <div class="form-row">
            <div class="col">
              <label for="recipe">Recipe:</label>
              <input type="text" id="recipe" name="recipe" class="form-control search-bar" value="Recipe names i.e. chili" onclick="clearRecipe()">
            </div>
            <div class="col">
              <label for="ingredient">Ingredient:</label>
              <input type="text" id="ingredient" name="ingredient" class="form-control search-bar" value="Ingredients i.e. tomato" onclick="clearIngredient()">
            </div>
            <input id="submit" class="btn btn-primary transparent" type="submit" value="Search"></input>
          </div>
          </form>
        </div>
      </div>
      <p>
<span class="icon-input-btn"><span class="glyphicon glyphicon-search"></span> <input type="submit" class="btn btn-default btn-xs" value=""></span>
      </p>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

</body>

</html>
